@model FootballLeaguesSimulation.Models.Match

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Create</h1>

<h4>Match</h4>
<hr />
<form asp-action="Create">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <table class="justify-content-center text-center">
        <tr>
            <td>Played At</td>
            <td>Home team</td>
            <td colspan="2">Score</td>
            <td>Guest Team</td>
        </tr>
        <tr>
            <td>
                <div class="form-group">
                    <input asp-for="PlayedAt" class="form-control" />
                    <span asp-validation-for="PlayedAt" class="text-danger"></span>
                </div>
            </td>
            <td>
                <div class="form-group">
                    <select asp-for="HomeTeamId" class="form-control" asp-items="ViewBag.HomeTeamId"></select>
                </div>
            </td>
            <td>
                <div class="form-group">
                    <input asp-for="Score1" class="form-control" style="width:70px" min="0" max="30" value="0" />
                    <span asp-validation-for="Score1" class="text-danger"></span>
                </div>
            </td>
            <td>
                <div class="form-group">
                    <input asp-for="Score2" class="form-control" style="width:70px" min="0" max="30" value="0" />
                    <span asp-validation-for="Score2" class="text-danger"></span>
                </div>
            </td>
            <td>
                <div class="form-group">
                    <select asp-for="GuestTeamId" class="form-control" asp-items="ViewBag.GuestTeamId"></select>
                </div>
            </td>
        </tr>
        <tr>
            <td></td>
            <td></td>
            <td colspan="2">Extra Time</td>
            <td></td>
        </tr>
        <tr>
            <td></td>
            <td></td>
            <td>
                <div class="form-group">
                    <input asp-for="Score1ET" class="form-control" style="width:70px" min="0" max="30" value="0" />
                    <span asp-validation-for="Score1ET" class="text-danger"></span>
                </div>
            </td>
            <td>
                <div class="form-group">
                    <input asp-for="Score2ET" class="form-control" style="width:70px" min="0" max="30" value="0" />
                    <span asp-validation-for="Score2ET" class="text-danger"></span>
                </div>
            </td>
            <td></td>
        </tr>
        <tr>
            <td></td>
            <td></td>
            <td colspan="2">Penalties</td>
            <td></td>
        </tr>
        <tr>
            <td></td>
            <td></td>
            <td>
                <div class="form-group">
                    <input asp-for="Score1P" class="form-control" style="width:70px" min="0" max="30" value="0" />
                    <span asp-validation-for="Score1P" class="text-danger"></span>
                </div>
            </td>
            <td>
                <div class="form-group">
                    <input asp-for="Score2P" class="form-control" style="width:70px" min="0" max="30" value="0" />
                    <span asp-validation-for="Score2P" class="text-danger"></span>
                </div>
            </td>
            <td></td>
        </tr>
        <tr>
            <td></td>
            <td colspan="4">
                <div class="form-group">
                    <label asp-for="CompetitionId" class="control-label"></label>
                    <select asp-for="CompetitionId" class="form-control" asp-items="ViewBag.CompetitionId"></select>
                </div>
            </td>
        </tr>
        <tr>
            <td></td>
            <td colspan="4">
                <div class="form-group">
                    <label asp-for="GroupId" class="control-label"></label>
                    <select asp-for="GroupId" class="form-control" asp-items="ViewBag.GroupId"></select>
                </div>
            </td>
        </tr>
        <tr>
            <td></td>
            <td colspan="4">
                <div class="form-group">
                    <label asp-for="RoundId" class="control-label"></label>
                    <select asp-for="RoundId" class="form-control" asp-items="ViewBag.RoundId"></select>
                </div>
            </td>
        </tr>
    </table>
    <div class="form-group">
        <input type="submit" value="Create" class="btn btn-primary" />
    </div>
</form>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}

    <script type="text/javascript">
        var deleted = false;
        $('#GroupId').change(function () {
            var val = $(this).val();
            var select = document.getElementById("RoundId");
            var option = document.createElement("option");
            option.value = 1;
            option.text = "Groups";
            option.selected = true;
            if (val == 9 && !deleted) {
                $('#RoundId > option[value=' + option.value + ']').remove();
                deleted = true;
            }
            if (val != 9 && deleted) {
                select.add(option, null);
                deleted = false;
            }
        });

    </script>
}

