@model FootballLeaguesSimulation.Models.Match

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Create</h1>

<h4>Match</h4>
<hr />
<form asp-action="Create">
    @if (!string.IsNullOrEmpty(ViewBag.msg))
    {
    <script type="text/javascript">alert('@ViewBag.msg');</script>
    }
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <table class="justify-content-center text-center">
        <tr>
            <td>Played At</td>
            <td>Home team</td>
            <td colspan="2">Score</td>
            <td>Guest Team</td>
        </tr>
        <tr>
            <td>
                <div class="form-group">
                    <input asp-for="PlayedAt" class="form-control" />
                    <span asp-validation-for="PlayedAt" class="text-danger"></span>
                </div>
            </td>
            <td>
                <div class="form-group">
                    <select asp-for="HomeTeamId" class="form-control" asp-items="ViewBag.HomeTeamId"></select>
                </div>
            </td>
            <td>
                <div class="form-group">
                    <input asp-for="Score1" class="form-control" style="width:70px" min="0" max="30" value="0" />
                    <span asp-validation-for="Score1" class="text-danger"></span>
                </div>
            </td>
            <td>
                <div class="form-group">
                    <input asp-for="Score2" class="form-control" style="width:70px" min="0" max="30" value="0" />
                    <span asp-validation-for="Score2" class="text-danger"></span>
                </div>
            </td>
            <td>
                <div class="form-group">
                    <select asp-for="GuestTeamId" class="form-control" asp-items="ViewBag.GuestTeamId"></select>
                </div>
            </td>
        </tr>
        <tr>
            <td></td>
            <td></td>
            <td colspan="2" id="lbl_ET">Extra Time</td>
            <td></td>
        </tr>
        <tr>
            <td></td>
            <td></td>
            <td>
                <div class="form-group">
                    <input asp-for="Score1ET" class="form-control" style="width:70px" min="0" max="30" />
                    <span asp-validation-for="Score1ET" class="text-danger"></span>
                </div>
            </td>
            <td>
                <div class="form-group">
                    <input asp-for="Score2ET" class="form-control" style="width:70px" min="0" max="30" />
                    <span asp-validation-for="Score2ET" class="text-danger"></span>
                </div>
            </td>
            <td></td>
        </tr>
        <tr>
            <td></td>
            <td></td>
            <td colspan="2" id="lbl_P" class="text-center">Penalties</td>
            <td></td>
        </tr>
        <tr>
            <td></td>
            <td></td>
            <td>
                <div class="form-group">
                    <input asp-for="Score1P" class="form-control" style="width:70px" min="0" max="30" />
                    <span asp-validation-for="Score1P" class="text-danger"></span>
                </div>
            </td>
            <td>
                <div class="form-group">
                    <input asp-for="Score2P" class="form-control" style="width:70px" min="0" max="30" />
                    <span asp-validation-for="Score2P" class="text-danger"></span>
                </div>
            </td>
            <td></td>
        </tr>
        <tr>
            <td></td>
            <td colspan="4">
                <div class="form-group">
                    <label asp-for="CompetitionId" class="control-label">Competition</label>
                    <select asp-for="CompetitionId" class="form-control" asp-items="ViewBag.CompetitionId"></select>
                </div>
            </td>
        </tr>
        <tr>
            <td></td>
            <td colspan="4">
                <div class="form-group">
                    <label asp-for="GroupId" class="control-label">Group</label>
                    <select asp-for="GroupId" class="form-control" asp-items="ViewBag.GroupId"></select>
                </div>
            </td>
        </tr>
        <tr>
            <td></td>
            <td colspan="4">
                <div class="form-group">
                    <label asp-for="RoundId" class="control-label">Round</label>
                    <select asp-for="RoundId" class="form-control" asp-items="ViewBag.RoundId"></select>
                </div>
            </td>
        </tr>
        <tr>
            <td></td>
            <td colspan="4">
                <div class="form-group">
                    <select asp-for="Leg" class="form-control" asp-items="ViewBag.Leg"></select>
                </div>
            </td>
        </tr>
    </table>
    <div class="form-group">
        <input type="submit" value="Create" class="btn btn-primary" />
    </div>
</form>


<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}

    <script type="text/javascript">
        document.addEventListener("DOMContentLoaded", function (event) {
            $('#RoundId > option[value=' + 2 + ']').remove();
            $('#RoundId > option[value=' + 3 + ']').remove();
            $('#RoundId > option[value=' + 4 + ']').remove();
            $('#RoundId > option[value=' + 5 + ']').remove();

            document.getElementById("Score1ET").style.display = "none";
            document.getElementById("Score2ET").style.display = "none";;
            document.getElementById("lbl_ET").style.display = "none";;
            document.getElementById("Score1P").style.display = "none";;
            document.getElementById("Score2P").style.display = "none";;
            document.getElementById("lbl_P").style.display = "none";
            document.getElementById("Leg").style.display = "none";
        });
        var deleted = false;
        var i = 1;
        var leg1 = document.createElement("option");
        var leg2 = document.createElement("option");

        leg1.value = 1;
        leg1.text = "Leg 1";

        leg2.value = 2;
        leg2.text = "Leg 2";
        $('#GroupId').change(function () {

            var val = $(this).val();
            var score1ET = document.getElementById("Score1ET");
            var score2ET = document.getElementById("Score2ET");
            var lblET = document.getElementById("lbl_ET");
            var score1P = document.getElementById("Score1P");
            var score2P = document.getElementById("Score2P");
            var lblP = document.getElementById("lbl_P");
            var selectRound = document.getElementById("RoundId");
            var selectLeg = document.getElementById("Leg");
            var groups = document.createElement("option");
            var round16 = document.createElement("option");
            var round8 = document.createElement("option");
            var semiFinal = document.createElement("option");
            var final = document.createElement("option");

            groups.value = 1;
            groups.text = "Groups";
            groups.selected = true;

            round16.value = 2;
            round16.text = "Round of 16";

            round8.value = 3;
            round8.text = "Round of 8";

            semiFinal.value = 4;
            semiFinal.text = "Semi Final";

            final.value = 5;
            final.text = "Final";


            if (val == 9 && !deleted) {
                if (i == 1) {
                    selectRound.add(round16, null);
                    selectRound.add(round8, null);
                    selectRound.add(semiFinal, null);
                    selectRound.add(final, null);
                    selectLeg.add(leg1, null);
                    selectLeg.add(leg2, null);
                }
                $('#RoundId > option[value=' + groups.value + ']').remove();
                score1ET.style.display = "table-cell";
                score2ET.style.display = "table-cell";
                lblET.style.display = "table-cell";
                score1P.style.display = "table-cell";
                score2P.style.display = "table-cell";
                lblP.style.display = "table-cell";
                selectLeg.style.display = "block";
                deleted = true;
                i++;
            }
            if (val != 9 && deleted) {
                $('#RoundId > option[value=' + round16.value + ']').remove();
                $('#RoundId > option[value=' + round8.value + ']').remove();
                $('#RoundId > option[value=' + semiFinal.value + ']').remove();
                $('#RoundId > option[value=' + final.value + ']').remove();
                $('#Leg > option[value=' + leg1.value + ']').remove();
                $('#Leg > option[value=' + leg2.value + ']').remove();
                score1ET.style.display = "none";
                score2ET.style.display = "none";
                lblET.style.display = "none";
                score1P.style.display = "none";
                score2P.style.display = "none";
                lblP.style.display = "none";
                selectLeg.style.display = "none";
                selectRound.add(groups, null);
                deleted = false;
                i = 1;
            }
        });
        $('#RoundId').change(function () {
            var val = $(this).val();
            var selectLeg = document.getElementById("Leg");
            if (val == 5) {
                selectLeg.style.display = "none";
                $('#Leg > option[value=' + leg1.value + ']').remove();
                $('#Leg > option[value=' + leg2.value + ']').remove();
            }
            else {
                selectLeg.style.display = "block";
                selectLeg.add(leg1, null);
                selectLeg.add(leg2, null);
            }
        });
    </script>
}

