@model FootballLeaguesSimulation.Models.TeamStanding

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Create</h1>

<h4>TeamStanding</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="MatchPlayed" class="control-label"></label>
                <input asp-for="MatchPlayed" class="form-control" />
                <span asp-validation-for="MatchPlayed" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Wins" class="control-label"></label>
                <input asp-for="Wins" class="form-control" />
                <span asp-validation-for="Wins" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Loses" class="control-label"></label>
                <input asp-for="Loses" class="form-control" />
                <span asp-validation-for="Loses" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Draws" class="control-label"></label>
                <input asp-for="Draws" class="form-control" />
                <span asp-validation-for="Draws" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="GoalsFor" class="control-label"></label>
                <input asp-for="GoalsFor" class="form-control" />
                <span asp-validation-for="GoalsFor" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="GoalsAgaints" class="control-label"></label>
                <input asp-for="GoalsAgaints" class="form-control" />
                <span asp-validation-for="GoalsAgaints" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="GoalsDifference" class="control-label"></label>
                <input asp-for="GoalsDifference" class="form-control" />
                <span asp-validation-for="GoalsDifference" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Points" class="control-label"></label>
                <input asp-for="Points" class="form-control" />
                <span asp-validation-for="Points" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TeamId" class="control-label"></label>
                <select asp-for="TeamId" class ="form-control" asp-items="ViewBag.TeamId"></select>
            </div>
            <div class="form-group">
                <label asp-for="SeasonId" class="control-label"></label>
                <select asp-for="SeasonId" class ="form-control" asp-items="ViewBag.SeasonId"></select>
            </div>
            <div class="form-group">
                <label asp-for="CompetitionId" class="control-label"></label>
                <select asp-for="CompetitionId" class ="form-control" asp-items="ViewBag.CompetitionId"></select>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
